#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT  0
#define LOWER    1
#define RAISE    2
#define CONTROL   3

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

&led_strip {
  chain-length = <27>;

  // 21 backlight + 6 glowlight
};

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  combos {
    compatible = "zmk,combos";

    Capslock {
      bindings = <&caps_word>;
      key-positions = <17 18>;
    };

    Screenshot {
      bindings = <&kp LS(LG(N4))>;
      key-positions = <3 4>;
    };

    Fullzoom_Window {
      bindings = <&kp LS(LC(LG(ENTER)))>;
      key-positions = <1 2>;
    };

    Switch_Window {
      bindings = <&kp LG(GRAVE)>;
      key-positions = <25 26>;
    };

    Switch_Input_Source {
      bindings = <&kp LG(SPACE)>;
      key-positions = <6 7>;
    };

    Space {
      bindings = <&kp SPACE>;
      key-positions = <28 29>;
    };

    To_Layer1 {
      bindings = <&to 0>;
      key-positions = <0 1>;
    };

    To_Layer2 {
      bindings = <&to 1>;
      key-positions = <0 2>;
    };

    To_Layer3 {
      bindings = <&to 2>;
      key-positions = <0 3>;
    };

    To_Layer4 {
      bindings = <&to 3>;
      key-positions = <0 4>;
    };

    Enter-r {
      bindings = <&kp ENTER>;
      key-positions = <19 20>;
    };

    QBackTab {
      bindings = <&kp LS(TAB)>;
      key-positions = <15 16>;
    };

    QTab {
      bindings = <&kp TAB>;
      key-positions = <16 17>;
    };

    Qspace {
      bindings = <&kp SPACE>;
      key-positions = <18 19>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      label = "BASE";
      bindings = <
&kp TAB         &kp Q  &kp W  &kp E      &kp R  &kp T                 &kp Y          &kp U  &kp I      &kp O    &kp P     &kp ESCAPE
&kp LEFT_WIN    &kp A  &kp S  &kp D      &kp F  &kp G                 &kp H          &kp J  &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C      &kp V  &kp B                 &kp N          &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LCTRL  &mo 1  &mt LEFT_ALT SPACE    &kp BACKSPACE  &mo 1  &mo 2
      >;
    };

    extended_layer {
      label = "EXT";
      bindings = <
&none      &kp N1  &kp N2  &kp N3     &kp N4        &kp N5     &kp N6     &kp N7     &kp N8    &kp N9     &kp N0     &kp ESCAPE
&none      &kp F1  &kp F2  &kp F3     &kp F4        &kp F5     &kp GRAVE  &kp APOS   &kp LBKT  &kp RBKT   &kp BSLH   &kp ENTER
&kp LSHFT  &kp F6  &kp F7  &kp F8     &kp F9        &kp F10    &none      &kp GRAVE  &none     &kp MINUS  &kp EQUAL  &kp RSHFT
                           &kp LCTRL  &kp LEFT_ALT  &none      &none      &none      &none
      >;
    };

    arrow_layer {
      label = "ARROW";
      bindings = <
&none  &none  &kp HOME  &kp UP     &kp END       &none    &none  &none  &kp PAGE_UP    &none  &none  &none
&none  &none  &kp LEFT  &kp DOWN   &kp RIGHT     &none    &none  &none  &kp PAGE_DOWN  &none  &none  &none
&none  &none  &none     &none      &none         &none    &none  &none  &none          &none  &none  &none
                        &kp LCTRL  &kp LEFT_ALT  &none    &none  &none  &none
      >;
    };

    control_layer {
      label = "CONTROL";
      bindings = <
&bt BT_SEL 0      &bt BT_SEL 1  &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4          &bt BT_CLR              &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG
&kp KP_NUMLOCK    &none         &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC    &none            &none            &none            &none            &none            &none
&kp C_PLAY_PAUSE  &kp C_PREV    &kp C_NEXT       &kp K_MUTE       &kp C_VOL_DN          &kp C_VOL_UP            &none            &none            &none            &none            &none            &none
                                                 &none            &none                 &none                   &none            &none            &none
      >;
    };

    layer_4 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };

    layer_5 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };
  };
};
